language: c
sudo: false

matrix:
  include:
    - os: linux
    - os: osx

install:
  - prefix=$HOME/local
  - mkdir $prefix
  - git clone git://github.com/openSUSE/libsolv
  - cd libsolv
  - mkdir build
  - cd build
  - cmake -DCMAKE_INSTALL_PREFIX:PATH=$prefix -DDISABLE_SHARED:BOOL=ON ..
  - make install
  - cd ../..

script: make prefix=$prefix test
